#fundo{
  position: relative;
  width: 830px;
  height:auto;
  background-color:aquamarine;
  margin:auto;
}


#camada1{
    position:relative;
    width:160px;
    height:100px;
    background-color:blue;
    text-align:center;
    float:left; /*encaixe á esquerda*/
}
#camada2{
    position:relative;
    width:640px;
    height:100px;
    background-color:red;
    text-align:center;
    float:left;
}
#camada3{
    position:relative;
    width:800px;
    height:40px;
    background-color:limegreen;
    text-align:center;
    clear:left; /* ele para o alinhamento do float */
}
#camada4{
    position:relative;
    width:780px;
    height:380px;
    background-color:yellow;
    text-align:center;
    border:10px solid red;
}
#camada5{
    position:relative;
    width:800px;
    height:50px;
    background-color:grey;
    text-align:center;
}
body{
 background-color: aquamarine;
}





