/*CSS Resest */
*{
    margin:0px;
    padding:0px;
    border:0px;
}

main{        /*tag principal*/
    position:relative;
    width: 90%;
    height:auto;
    background-color: bisque;
    margin:auto;
}

header{
     position:relative;
     width:100%;
     height:auto;
     background-color:chartreuse;
     text-align:center;
     padding-top:20px; /*espaço dentro da area,topo*/
     padding-bottom:20px; /*espaço dentro da area, baixo*/
}

#lado_esquerdo{
      position:relative;
      width:30%;
      height:450px;
      background-color:aqua;
      float:left;
}   

#lado_direito{
    position:relative;
    width:70%;
    height:450px;
    background-color:rgb(69, 69, 219);
    float:left;
}

footer{
     position:relative;
     width:100%;
     height:100px;
     background-color: rgb(188, 59, 59);
     color:white;
     clear:left;  
     text-align: center;
}

.caixa_branca{
     position:relative;
     width:90%;
     height:200px;
     background-color: aliceblue;
     margin:auto;
     margin-top: 10px;
}

article{
    position:relative;
    width:95%;
    height:430px;
    background-color:aliceblue;
    margin:auto;
}

h2{
   background-color: aqua;
   text-align:center;
   margin:0px;
}

p{
   position: relative;
   width:100%;
   height:180px;
   margin-top:10px;
   background-color: darksalmon;
}

div{
    position: relative;
    width:100%;
    height:180px;
    margin-top:10px;
    background-color: plum;
}









